# Virtual environments
.venv/
env/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
/static/
media/

# IDE and editor files
.vscode/
.idea/
*.log

# OS files
.DS_Store
Thumbs.db
